<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>Mes réservations</h1>
      <ul>
        <% @bookings.each do |booking| %>
          <div>
            <li><%= link_to booking.location, booking_path(booking) %></li>
          </div>
      <% end %>
      </ul>
      <p><%= link_to "Cherchez un groupe pour animer votre prochaine soirée !", bands_path %></p>
    </div>
  </div>
</div>
