<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Détails de la réservation</h1>
      <p><%= @booking.location %></p>
      <p><%= @booking.start_date %></p>
      <p><%= @booking.end_date %></p>
      <p><%= @booking.price %></p>
    </div>
  </div>
</div>
