<div class="banner">
  <div class="banner-content">
    <h1 class="ml3">Des musiciens pour tous</h1>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
  </div>
</div>
<div class="container">
  <div class="row">
    <% @bands.each do |band| %>
    <div class="col-xs-12 col-sm-4">
      <%= link_to band_path(band) do%>
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url( <%= cl_image_path band.image %>);">
        <div class="card-category">
          <%= band.genre.name %>
        </div>
        <div class="card-description">
          <h2> <%= band.name %></h2>
        </div>
      </div>
      <%end%>
    </div>
    <% end %>
  </div>
</div>
<div class="degrade">
  <div class="text">
    <div class="row">
      <div class="col-xs-12 col-sm-6 text-card" style="text-align: center;">
        <h2>title</h2>
        <p>lorem ipsum</p>
      </div>
      <div class="col-xs-12 col-sm-6 text-card" style="text-align: center;">
        <h2>title</h2>
        <p>lorem ipsum</p>
      </div>
    </div>
  </div>
</div>
