<div class="banner">
  <div class="banner-content">
    <h1 class="ml3">Des musiciens pour tous</h1>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-2">
      <div><h4>Musiciens, concentrez-vous sur votre passion, votre métier.</h4>
        <p>Impresario s'occupe de vous et facilite votre visibilité, prend en charge vos déclarations administratives, promeut votre présence sur les réseaux sociaux
        </p>
      </div>
      <div><h4>Organisateurs, respirez.</h4>
        <p>
          Impresario vous garantit un prix fixe et connu, des prestations délimitées et vous assure en cas d'annulation. Terminé, les mauvaises surprises de dernière minute. Profitez enfin de votre événement.
        </p>
      </div>
    </div>
  </div>
</div>
