<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>List of bands:</h1>
      <ul>
      <% @bands.each do |band| %>
        <div>
          <li><%= link_to band.name, band_path(band) %></li>
        </div>
      <% end %>
      </ul>
      <p><%= link_to "Add your band", new_band_path, class: "btn btn-primary" %></p>
    </div>
  </div>
</div>
