// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";


body {
  background-color: #313639;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: white;
  opacity: 0.5;

}

.select2-results__option {
  color: black;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #ef8354 !important;
  color: white;
}
